Synch changes from Turtle/N-Triples/N-Quads

Basically, do what is done in w3c/rdf-turtle#107 to TriG.

* [ ] [Use style for table cell text alignment rather than inline-css and change how whitespace is introduced between --.](https://github.com/w3c/rdf-turtle/pull/107/commits/9897324834831a617f0d15827577f61860b6ed41)
* [ ] [Add SHOULD criteria on IRIREF for RFC3986 section 3.3.](https://github.com/w3c/rdf-turtle/pull/107/commits/294130efa856a724798e2293b6de7c66a5457564)
* [ ] [Change RDF12-CONCEPTS#dfn-literal to RDF12-CONCEPTS#dfn-rdf-literal, which is the correct term to reference.](https://github.com/w3c/rdf-turtle/pull/107/commits/c5891dc60ee02f496bc40ed4c07d43ae9618d3f0)
* [ ] [Changes to synchronize with N-Triples.](https://github.com/w3c/rdf-turtle/pull/107/commits/7f185134199cfa83113f9d6c106f02b019bbfc4a)

Also from w3c/rdf-n-quads#80

* [ ] Add link to supporting tests for normative C14N UCHAR language.
* [ ] Add language to require that only valid IRIs, language tags, and base directions be used to form triples
* [ ] , otherwise signaling an error. Fixes https://github.com/w3c/rdf-n-quads/pull/37.
* [ ] Narrow IRI validity requirements
* [ ] Suggestions from @afs on weakening language on parser behavior in the presence of ill-formed terms.
* [ ] Add note on processors producing errors and the potential affect on the result.
* [ ] Fix dfn-literal. add "period" before full-stop character, other misc.
* [ ] RFC3986 conformance.
* [ ] Style updates from Turtle.
* [ ] Add test links for negative syntax IRI and LANG_DiR tests.
